[submodule "zaidkilani/royalline-addons"]
	path = zaidkilani/royalline-addons
	url = git@github.com:zaidkilani/royalline-addons.git
	branch = master

[submodule "rlfss/royalapp"]
	path = rlfss/royalapp
	url = git@github.com:rlfss/royalapp.git
	branch = master

[submodule "rlfss/oca-royal5555"]
	path = rlfss/oca-royal5555
	url = git@github.com:rlfss/oca-royal.git
	branch = master

[submodule "rlfss/oca-royal"]
	path = rlfss/oca-royal
	url = git@github.com:rlfss/oca-royal.git
	branch = master

[submodule "OCA/hr"]
	path = OCA/hr
	url = git@github.com:OCA/hr.git
	branch = 12.0

[submodule "OCA/hr00"]
	path = OCA/hr00
	url = git@github.com:OCA/hr.git
	branch = 12.0
